{
:main [{:des "taps"
        :rules [[:##left_shift :left_shift nil {:alone :delete_or_backspace}]
                [:right_shift :right_shift nil {:alone :delete_forward}]
                [:caps_lock :left_control nil {:alone :caps_lock}]]}
]}
 
